/* Created by Artisteer v4.0.0.58475 */

.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.cyc-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.cyc-hmenu>li, .cyc-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.cyc-hmenu, ul.cyc-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
ul.cyc-hmenu>li:first-child {
   padding-right:9px;
}
ul.cyc-hmenu>li{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='cyc-hmenu-separator');
}
ul.cyc-hmenu>li>span.cyc-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -9px;
   width: 9px;
   height: 28px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.cyc-hmenu>li:first-child>span.cyc-hmenu-separator
{
   display:none;
}

ul.cyc-hmenu ul{
   background-color: #9CE222 !important;
}

.cyc-header
{
   z-index: 1;
}

.cyc-content-layout, .cyc-content-layout-row, .cyc-layout-cell 
{
   display: block;
   zoom: 1;
}
.cyc-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

ul.cyc-vmenu, ul.cyc-vmenu ul, ul.cyc-vmenu li{
   zoom: 1;
}

ul.cyc-vmenu ul 
{
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.cyc-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.cyc-search div>input[type="text"]
{
   width: 100%;
}

* html form.cyc-search>input[type="text"] 
{
   margin :0;
}

.cyc-postheadericons span{
   zoom: 1;
}
.cyc-postcontent {
   height: 1%;
}

.cyc-postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.cyc-sidebar2 
{
   width: auto;
   float:none;
}

