/* Created by Artisteer v4.0.0.58475 */

#cyc-main
{
   background: #76DCEA url('images/page.jpeg') repeat-x scroll;
   background: url('images/pageglare.png') top center no-repeat, url('images/page.jpeg') repeat-x, #76DCEA;
   margin:0 auto;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.cyc-hmenu
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.cyc-button
{
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #B8EA61;
   background: linear-gradient(top, #C8EF85 0, #AAE641 100%) no-repeat;
   background: -webkit-linear-gradient(top, #C8EF85 0, #AAE641 100%) no-repeat;
   background: -moz-linear-gradient(top, #C8EF85 0, #AAE641 100%) no-repeat;
   background: -o-linear-gradient(top, #C8EF85 0, #AAE641 100%) no-repeat;
   background: -ms-linear-gradient(top, #C8EF85 0, #AAE641 100%) no-repeat;
   background: linear-gradient(top, #C8EF85 0, #AAE641 100%) no-repeat;
   -svg-background: linear-gradient(top, #C8EF85 0, #AAE641 100%) no-repeat;
   -webkit-border-radius:14px;
   -moz-border-radius:14px;
   border-radius:14px;
   border:1px solid #A8B8A3;
   padding:0 15px;
   margin:0 auto;
   height:30px;
}

.cyc-postcontent,
.cyc-postheadericons,
.cyc-postfootericons,
.cyc-blockcontent,
ul.cyc-vmenu a 
{
   text-align: left;
}

.cyc-postcontent,
.cyc-postcontent li,
.cyc-postcontent table,
.cyc-postcontent a,
.cyc-postcontent a:link,
.cyc-postcontent a:visited,
.cyc-postcontent a.visited,
.cyc-postcontent a:hover,
.cyc-postcontent a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-postcontent p
{
   margin: 12px 0;
}

.cyc-postcontent h1, .cyc-postcontent h1 a, .cyc-postcontent h1 a:link, .cyc-postcontent h1 a:visited, .cyc-postcontent h1 a:hover,
.cyc-postcontent h2, .cyc-postcontent h2 a, .cyc-postcontent h2 a:link, .cyc-postcontent h2 a:visited, .cyc-postcontent h2 a:hover,
.cyc-postcontent h3, .cyc-postcontent h3 a, .cyc-postcontent h3 a:link, .cyc-postcontent h3 a:visited, .cyc-postcontent h3 a:hover,
.cyc-postcontent h4, .cyc-postcontent h4 a, .cyc-postcontent h4 a:link, .cyc-postcontent h4 a:visited, .cyc-postcontent h4 a:hover,
.cyc-postcontent h5, .cyc-postcontent h5 a, .cyc-postcontent h5 a:link, .cyc-postcontent h5 a:visited, .cyc-postcontent h5 a:hover,
.cyc-postcontent h6, .cyc-postcontent h6 a, .cyc-postcontent h6 a:link, .cyc-postcontent h6 a:visited, .cyc-postcontent h6 a:hover,
.cyc-blockheader .t, .cyc-blockheader .t a, .cyc-blockheader .t a:link, .cyc-blockheader .t a:visited, .cyc-blockheader .t a:hover,
.cyc-vmenublockheader .t, .cyc-vmenublockheader .t a, .cyc-vmenublockheader .t a:link, .cyc-vmenublockheader .t a:visited, .cyc-vmenublockheader .t a:hover,
.cyc-headline, .cyc-headline a, .cyc-headline a:link, .cyc-headline a:visited, .cyc-headline a:hover,
.cyc-slogan, .cyc-slogan a, .cyc-slogan a:link, .cyc-slogan a:visited, .cyc-slogan a:hover,
.cyc-postheader, .cyc-postheader a, .cyc-postheader a:link, .cyc-postheader a:visited, .cyc-postheader a:hover
{
   font-size: 32px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}

.cyc-postcontent a, .cyc-postcontent a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #84C219;
}

.cyc-postcontent a:visited, .cyc-postcontent a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #1EAEBE;
}

.cyc-postcontent  a:hover, .cyc-postcontent a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #2BCCDE;
}

.cyc-postcontent h1
{
   color: #84C219;
   margin-top: 21px;
   margin-bottom: 21px;
   font-size: 32px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-blockcontent h1
{
   margin-top: 21px;
   margin-bottom: 21px;
   font-size: 32px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-postcontent h1 a, .cyc-postcontent h1 a:link, .cyc-postcontent h1 a:hover, .cyc-postcontent h1 a:visited, .cyc-blockcontent h1 a, .cyc-blockcontent h1 a:link, .cyc-blockcontent h1 a:hover, .cyc-blockcontent h1 a:visited 
{
   font-size: 32px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-postcontent h2
{
   color: #84C219;
   margin-top: 19px;
   margin-bottom: 19px;
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-blockcontent h2
{
   margin-top: 19px;
   margin-bottom: 19px;
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-postcontent h2 a, .cyc-postcontent h2 a:link, .cyc-postcontent h2 a:hover, .cyc-postcontent h2 a:visited, .cyc-blockcontent h2 a, .cyc-blockcontent h2 a:link, .cyc-blockcontent h2 a:hover, .cyc-blockcontent h2 a:visited 
{
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-postcontent h3
{
   color: #84C219;
   margin: 15px 0 0;
   font-size: 19px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-transform: uppercase;
}

.cyc-blockcontent h3
{
   margin: 15px 0 0;
   font-size: 19px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-transform: uppercase;
}

.cyc-postcontent h3 a, .cyc-postcontent h3 a:link, .cyc-postcontent h3 a:hover, .cyc-postcontent h3 a:visited, .cyc-blockcontent h3 a, .cyc-blockcontent h3 a:link, .cyc-blockcontent h3 a:hover, .cyc-blockcontent h3 a:visited 
{
   font-size: 19px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-transform: uppercase;
}

.cyc-postcontent h4
{
   color: #4A5945;
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 16px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-blockcontent h4
{
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 16px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-postcontent h4 a, .cyc-postcontent h4 a:link, .cyc-postcontent h4 a:hover, .cyc-postcontent h4 a:visited, .cyc-blockcontent h4 a, .cyc-blockcontent h4 a:link, .cyc-blockcontent h4 a:hover, .cyc-blockcontent h4 a:visited 
{
   font-size: 16px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-postcontent h5
{
   color: #4A5945;
   margin-top: 26px;
   margin-bottom: 26px;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-blockcontent h5
{
   margin-top: 26px;
   margin-bottom: 26px;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-postcontent h5 a, .cyc-postcontent h5 a:link, .cyc-postcontent h5 a:hover, .cyc-postcontent h5 a:visited, .cyc-blockcontent h5 a, .cyc-blockcontent h5 a:link, .cyc-blockcontent h5 a:hover, .cyc-blockcontent h5 a:visited 
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-postcontent h6
{
   color: #7D9575;
   margin-top: 35px;
   margin-bottom: 35px;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-blockcontent h6
{
   margin-top: 35px;
   margin-bottom: 35px;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-postcontent h6 a, .cyc-postcontent h6 a:link, .cyc-postcontent h6 a:hover, .cyc-postcontent h6 a:visited, .cyc-blockcontent h6 a, .cyc-blockcontent h6 a:link, .cyc-blockcontent h6 a:hover, .cyc-blockcontent h6 a:visited 
{
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #cyc-hmenu-bg, .cyc-sheet, .cyc-hmenu a, .cyc-vmenu a, .cyc-slidenavigator > a, .cyc-checkbox:before, .cyc-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #cyc-hmenu-bg, .cyc-sheet, .cyc-slidenavigator > a, .cyc-checkbox:before, .cyc-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 900px;
   color: #111410;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .cyc-postcontent li h1, .cyc-blockcontent li h1 
{
   margin:1px;
} 
li h2, .cyc-postcontent li h2, .cyc-blockcontent li h2 
{
   margin:1px;
} 
li h3, .cyc-postcontent li h3, .cyc-blockcontent li h3 
{
   margin:1px;
} 
li h4, .cyc-postcontent li h4, .cyc-blockcontent li h4 
{
   margin:1px;
} 
li h5, .cyc-postcontent li h5, .cyc-blockcontent li h5 
{
   margin:1px;
} 
li h6, .cyc-postcontent li h6, .cyc-blockcontent li h6 
{
   margin:1px;
} 
li p, .cyc-postcontent li p, .cyc-blockcontent li p 
{
   margin:1px;
}


.cyc-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.cyc-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.cyc-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.cyc-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.cyc-object0
{
    display: block;
    left: 3.55%;
    margin-left: -5px;
    position: absolute;
    top: 11px;
    width: 147px;
    height: 109px;
    background-image: url('images/object0.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 0;
}
.cyc-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 41px;
  left: 27.29%;
  line-height: 100%;
  margin-left: -72px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
}

.cyc-headline, 
.cyc-headline a, 
.cyc-headline a:link, 
.cyc-headline a:visited, 
.cyc-headline a:hover
{
font-size: 36px;
font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
  padding: 0;
  margin: 0;
  color: #44630D !important;
  white-space: nowrap;
}
.cyc-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 79px;
  left: 27.29%;
  line-height: 100%;
  margin-left: -70px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
  white-space: nowrap;
}

.cyc-slogan, 
.cyc-slogan a, 
.cyc-slogan a:link, 
.cyc-slogan a:visited, 
.cyc-slogan a:hover
{
font-size: 14px;
font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
  padding: 0;
  margin: 0;
  color: #000000 !important;
}






.cyc-nav
{
   background: #262E23;
   background: linear-gradient(top, rgba(60, 72, 55, 0.8) 0, rgba(19, 23, 18, 0.8) 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(60, 72, 55, 0.8) 0, rgba(19, 23, 18, 0.8) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(60, 72, 55, 0.8) 0, rgba(19, 23, 18, 0.8) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(60, 72, 55, 0.8) 0, rgba(19, 23, 18, 0.8) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(60, 72, 55, 0.8) 0, rgba(19, 23, 18, 0.8) 100%) no-repeat;
   background: linear-gradient(top, rgba(60, 72, 55, 0.8) 0, rgba(19, 23, 18, 0.8) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(60, 72, 55, 0.8) 0, rgba(19, 23, 18, 0.8) 100%) no-repeat;
   padding:10px 6px;
   margin:0 auto;
   position: relative;
   z-index: 100;
   font-size: 0;
}

ul.cyc-hmenu a, ul.cyc-hmenu a:link, ul.cyc-hmenu a:visited, ul.cyc-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.cyc-hmenu, ul.cyc-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.cyc-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.cyc-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.cyc-hmenu:after, ul.cyc-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.cyc-hmenu, ul.cyc-hmenu ul 
{
   min-height: 0;
}

ul.cyc-hmenu 
{
   display: inline-block;
   vertical-align: middle;
   padding-left: 6px;
   padding-right: 6px;
}

.cyc-nav-inner:before 
{
   content:' ';
}

.cyc-nav-inner{
   text-align: right;
   margin:0 auto;
}

.desktop-nav .cyc-nav-inner{
   width: 900px;
   padding-left: 6px;
   padding-right: 6px;
}

.desktop-nav.cyc-nav
{
   padding-left: 0;
   padding-right: 0;
}

.cyc-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.cyc-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.cyc-hmenu
{
   float: right;
}

.cyc-menuitemcontainer
{
   margin:0 auto;
}
ul.cyc-hmenu>li {
   margin-left: 9px;
}
ul.cyc-hmenu>li:first-child {
   margin-left: 4px;
}
ul.cyc-hmenu>li:last-child, ul.cyc-hmenu>li.last-child {
   margin-right: 4px;
}

ul.cyc-hmenu>li>a
{
   -webkit-border-radius:14px;
   -moz-border-radius:14px;
   border-radius:14px;
   border:1px solid transparent;
   padding:0 17px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 28px;
   cursor: pointer;
   text-decoration: none;
   color: #F1F4F1;
   line-height: 28px;
   text-align: center;
}

.cyc-hmenu a, 
.cyc-hmenu a:link, 
.cyc-hmenu a:visited, 
.cyc-hmenu a.active, 
.cyc-hmenu a:hover
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   font-variant: normal;
   text-align: left;
}

ul.cyc-hmenu>li>a.active
{
   background: #C4EE7C;
   background: linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: -webkit-linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: -moz-linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: -o-linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: -ms-linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   -svg-background: linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   -webkit-border-radius:14px;
   -moz-border-radius:14px;
   border-radius:14px;
   border:1px solid #C4EE7C;
   padding:0 17px;
   margin:0 auto;
   color: #537A10;
   text-decoration: none;
}

ul.cyc-hmenu>li>a:visited, 
ul.cyc-hmenu>li>a:hover, 
ul.cyc-hmenu>li:hover>a {
   text-decoration: none;
}

ul.cyc-hmenu>li>a:hover, .desktop ul.cyc-hmenu>li:hover>a
{
   background: #C4EE7C;
   background: linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: -webkit-linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: -moz-linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: -o-linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: -ms-linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   -svg-background: linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   -webkit-border-radius:14px;
   -moz-border-radius:14px;
   border-radius:14px;
   border:1px solid #BAEB66;
   padding:0 17px;
   margin:0 auto;
}
ul.cyc-hmenu>li>a:hover, 
.desktop-nav ul.cyc-hmenu>li:hover>a {
   color: #5C8712;
   text-decoration: none;
}

ul.cyc-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -9px;
   width:9px;
   height: 28px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.cyc-hmenu>li:first-child:before{
   display:none;
}

ul.cyc-hmenu li li a
{
   background: #FEE7C8;
   border:1px solid #FEF2D2;
   padding:0 22px;
   margin:0 auto;
}
ul.cyc-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop-nav ul.cyc-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.cyc-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.cyc-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 23px;
   min-width: 7em;
   border: 1px solid transparent;
   text-align: left;
   line-height: 23px;
   color: #537A10;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.cyc-hmenu li li a 
{
   border-top-width: 0 !important;
}
.cyc-hmenu li li:hover a 
{
   border-top-width: 1px !important;
}
.cyc-hmenu ul>li:first-child>a 
{
   border-top-width: 1px !important;
}

.cyc-hmenu ul a:link, 
.cyc-hmenu ul a:visited, 
.cyc-hmenu ul a.active, 
.cyc-hmenu ul a:hover
{
   text-align: left;
   line-height: 23px;
   color: #537A10;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.cyc-hmenu ul li a:hover, .desktop ul.cyc-hmenu ul li:hover>a
{
   background: #BAEB66;
   border:1px solid #B0E84F;
   margin:0 auto;
}

.cyc-hmenu ul li a:hover
{
   color: #000000;
}

.cyc-hmenu ul li a.cyc-hmenu-before-hovered 
{
   border-bottom-width: 0 !important;
}

.desktop-nav .cyc-hmenu ul li:hover>a
{
   color: #000000;
}

ul.cyc-hmenu ul:before
{
   background: #9CE222;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop-nav ul.cyc-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop-nav ul.cyc-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.cyc-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop-nav ul.cyc-hmenu>li>ul
{
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.cyc-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop-nav ul.cyc-hmenu ul.cyc-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.cyc-hmenu ul.cyc-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop-nav ul.cyc-hmenu li li:hover>ul.cyc-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop-nav ul.cyc-hmenu li li:hover>ul.cyc-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop-nav ul.cyc-hmenu ul ul.cyc-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop-nav ul.cyc-hmenu ul ul.cyc-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

.desktop-nav ul.cyc-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop-nav ul.cyc-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop-nav ul.cyc-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop-nav ul.cyc-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop-nav ul.cyc-hmenu>li>ul.cyc-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.cyc-hmenu>li>ul.cyc-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.cyc-hmenu ul ul.cyc-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop-nav ul.cyc-hmenu ul ul.cyc-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

.cyc-header
{
   margin:0 auto;
   position:relative;
   height: 280px;
   background-image: url('images/header.png');
   background-position: center top;
   background-repeat: no-repeat;
}

.responsive .cyc-header 
{
   background-image: url('images/header.png');
   background-position: center center;
}

.cyc-header-inner{
   position: relative;
   width: 900px;
   z-index: auto !important;
   margin: 0 auto;
}

.cyc-header>.widget 
{
   position:absolute;
   z-index:101;
}

.cyc-sheet
{
   background: #FBFFEB;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   border:1px solid #BDEFF5;
   border-bottom:none;
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 900px;
   z-index: auto !important;
}

.cyc-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.cyc-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.cyc-content-layout-row 
{
   display: table-row;
}

.cyc-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.cyc-vmenublock
{
   margin:10px;
}
div.cyc-vmenublock img
{
   margin: 0;
}

.cyc-vmenublockheader
{
   background: #57D7E5;
   background: linear-gradient(top, #7BDFEA 0, #38CFE0 100%) no-repeat;
   background: -webkit-linear-gradient(top, #7BDFEA 0, #38CFE0 100%) no-repeat;
   background: -moz-linear-gradient(top, #7BDFEA 0, #38CFE0 100%) no-repeat;
   background: -o-linear-gradient(top, #7BDFEA 0, #38CFE0 100%) no-repeat;
   background: -ms-linear-gradient(top, #7BDFEA 0, #38CFE0 100%) no-repeat;
   background: linear-gradient(top, #7BDFEA 0, #38CFE0 100%) no-repeat;
   -svg-background: linear-gradient(top, #7BDFEA 0, #38CFE0 100%) no-repeat;
   padding:6px 5px;
   margin:0 auto 7px;
}
.cyc-vmenublockheader .t,
.cyc-vmenublockheader .t a,
.cyc-vmenublockheader .t a:link,
.cyc-vmenublockheader .t a:visited, 
.cyc-vmenublockheader .t a:hover
{
   color: #809778;
   font-size: 14px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   margin: 0 10px 0 5px;
}

.cyc-vmenublockcontent
{
   padding:5px;
   margin:0 auto;
}

ul.cyc-vmenu, ul.cyc-vmenu ul
{
   list-style: none;
   display: block;
}

ul.cyc-vmenu, ul.cyc-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.cyc-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.cyc-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position: relative;
}

ul.cyc-vmenu ul.active
{
   display: block;
}

ul.cyc-vmenu>li>a
{
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid transparent;
   padding:0 10px;
   margin:0 auto;
   color: #B3C1AE;
   min-height: 30px;
   line-height: 30px;
}
ul.cyc-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index: 1;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   position:relative;
}

ul.cyc-vmenu li{
   position:relative;
}

ul.cyc-vmenu>li
{
   margin-top: 4px;
}
ul.cyc-vmenu>li>ul
{
   padding: 0;
   margin-top: 8px;
   margin-bottom: 8px;
}
ul.cyc-vmenu>li:first-child
{
   margin-top:0;
}

ul.cyc-vmenu>li>a:hover, ul.cyc-vmenu>li>a.active:hover
{
   background: #BAEB66;
   background: linear-gradient(top, #CAF08A 0, #ACE746 100%) no-repeat;
   background: -webkit-linear-gradient(top, #CAF08A 0, #ACE746 100%) no-repeat;
   background: -moz-linear-gradient(top, #CAF08A 0, #ACE746 100%) no-repeat;
   background: -o-linear-gradient(top, #CAF08A 0, #ACE746 100%) no-repeat;
   background: -ms-linear-gradient(top, #CAF08A 0, #ACE746 100%) no-repeat;
   background: linear-gradient(top, #CAF08A 0, #ACE746 100%) no-repeat;
   -svg-background: linear-gradient(top, #CAF08A 0, #ACE746 100%) no-repeat;
   border:1px solid #BAEB66;
   padding:0 10px;
   margin:0 auto;
}

ul.cyc-vmenu a:hover, ul.cyc-vmenu a.active:hover 
{
   color: #7F5305;
}

ul.cyc-vmenu>li>a.active:hover>span.border-top, ul.cyc-vmenu>li>a.active:hover>span.border-bottom 
{
   background-color: transparent;
}

ul.cyc-vmenu>li>a.active
{
   background: #C4EE7C;
   background: linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: -webkit-linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: -moz-linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: -o-linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: -ms-linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   background: linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   -svg-background: linear-gradient(top, #D4F3A0 0, #B4E958 100%) no-repeat;
   border:1px solid #C4EE7C;
   padding:0 10px;
   margin:0 auto;
   color: #47680D;
}

ul.cyc-vmenu>li>ul:before
{
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

ul.cyc-vmenu li li a
{
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   margin:0 auto;
   position: relative;
}
ul.cyc-vmenu ul li
{
   margin: 0;
   padding: 0;
}
ul.cyc-vmenu li li{
   position: relative;
   margin-top: 0;
}

ul.cyc-vmenu ul a
{
   display: block;
   position: relative;
   min-height: 24px;
   overflow: visible;
   padding: 0;
   padding-left: 25px;
   padding-right: 0;
   z-index: 0;
   line-height: 24px;
   color: #22CADD;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   margin-left: 0;
   margin-right: 0;
}

ul.cyc-vmenu ul a:visited, ul.cyc-vmenu ul a.active:hover, ul.cyc-vmenu ul a:hover, ul.cyc-vmenu ul a.active
{
   line-height: 24px;
   color: #22CADD;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   margin-left: 0;
   margin-right: 0;
}

ul.cyc-vmenu ul ul a
{
   padding-left: 50px;
}
ul.cyc-vmenu ul ul ul a
{
   padding-left: 75px;
}
ul.cyc-vmenu ul ul ul ul a
{
   padding-left: 100px;
}
ul.cyc-vmenu ul ul ul ul ul a
{
   padding-left: 125px;
}

ul.cyc-vmenu ul>li>a:hover, ul.cyc-vmenu ul>li>a.active:hover
{
   background: #C6EF81;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   margin:0 auto;
}
ul.cyc-vmenu ul li a:hover, ul.cyc-vmenu ul li a.active:hover
{
   color: #78906F;
}

ul.cyc-vmenu ul a:hover:after
{
   background-position: center ;
}
ul.cyc-vmenu ul a.active:hover:after
{
   background-position: center ;
}
ul.cyc-vmenu ul a.active:after
{
   background-position: bottom ;
}

ul.cyc-vmenu ul>li>a.active
{
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   margin:0 auto;
}
ul.cyc-vmenu ul a.active, ul.cyc-vmenu ul a:hover, ul.cyc-vmenu ul a.active:hover
{
   color: #78906F;
}

.cyc-block
{
   background: #FBFFEB;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid #D4DCD1;
   padding:7px;
   margin:10px;
}
div.cyc-block img
{
   border: none;
   margin: 0;
}

.cyc-blockheader
{
   padding:1px 5px;
   margin:0 auto;
}
.cyc-blockheader .t,
.cyc-blockheader .t a,
.cyc-blockheader .t a:link,
.cyc-blockheader .t a:visited, 
.cyc-blockheader .t a:hover
{
   color: #758D6D;
   font-size: 14px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   margin: 0 10px 0 5px;
}

.cyc-blockheader .t:before
{
   content:url('images/blockheadericon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .cyc-blockheader .t:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.cyc-blockcontent
{
   padding:5px;
   margin:0 auto;
   color: #374233;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.cyc-blockcontent table,
.cyc-blockcontent li, 
.cyc-blockcontent a,
.cyc-blockcontent a:link,
.cyc-blockcontent a:visited,
.cyc-blockcontent a:hover
{
   color: #374233;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-blockcontent p
{
   margin: 6px 0;
}

.cyc-blockcontent a, .cyc-blockcontent a:link
{
   color: #1EAEBE;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.cyc-blockcontent a:visited, .cyc-blockcontent a.visited
{
   color: #8DA286;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.cyc-blockcontent a:hover, .cyc-blockcontent a.hover
{
   color: #2BCCDE;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}
.cyc-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -12px;
}
.opera .cyc-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.cyc-block li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #4A5945;
}

.cyc-block ul>li, .cyc-block ol
{
   padding: 0;
}

.cyc-block ul>li
{
   padding-left: 12px;
}

.cyc-breadcrumbs
{
   margin:0 auto;
}

a.cyc-button,
a.cyc-button:link,
a:link.cyc-button:link,
body a.cyc-button:link,
a.cyc-button:visited,
body a.cyc-button:visited,
input.cyc-button,
button.cyc-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #37510B;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 30px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.cyc-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .cyc-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}

.cyc-block select 
{
   width:96%;
}

input.cyc-button
{
   float: none !important;
}

.cyc-button.active, .cyc-button.active:hover
{
   background: #B0E84F;
   background: linear-gradient(top, #C0ED73 0, #A2E42F 100%) no-repeat;
   background: -webkit-linear-gradient(top, #C0ED73 0, #A2E42F 100%) no-repeat;
   background: -moz-linear-gradient(top, #C0ED73 0, #A2E42F 100%) no-repeat;
   background: -o-linear-gradient(top, #C0ED73 0, #A2E42F 100%) no-repeat;
   background: -ms-linear-gradient(top, #C0ED73 0, #A2E42F 100%) no-repeat;
   background: linear-gradient(top, #C0ED73 0, #A2E42F 100%) no-repeat;
   -svg-background: linear-gradient(top, #C0ED73 0, #A2E42F 100%) no-repeat;
   -webkit-border-radius:14px;
   -moz-border-radius:14px;
   border-radius:14px;
   border:1px solid #B0E84F;
   padding:0 15px;
   margin:0 auto;
}
.cyc-button.active, .cyc-button.active:hover {
   color: #FFFFFF !important;
}

.cyc-button.hover, .cyc-button:hover
{
   background: #95C83C;
   background: linear-gradient(top, #A4D058 0, #93C738 57%, #81AF31 100%) no-repeat;
   background: -webkit-linear-gradient(top, #A4D058 0, #93C738 57%, #81AF31 100%) no-repeat;
   background: -moz-linear-gradient(top, #A4D058 0, #93C738 57%, #81AF31 100%) no-repeat;
   background: -o-linear-gradient(top, #A4D058 0, #93C738 57%, #81AF31 100%) no-repeat;
   background: -ms-linear-gradient(top, #A4D058 0, #93C738 57%, #81AF31 100%) no-repeat;
   background: linear-gradient(top, #A4D058 0, #93C738 57%, #81AF31 100%) no-repeat;
   -svg-background: linear-gradient(top, #A4D058 0, #93C738 57%, #81AF31 100%) no-repeat;
   -webkit-border-radius:14px;
   -moz-border-radius:14px;
   border-radius:14px;
   border:1px solid #BAEB66;
   padding:0 15px;
   margin:0 auto;
}
.cyc-button.hover, .cyc-button:hover {
   color: #FFFFFF !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #F9FAFB;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 100%;
   padding: 8px 0;
   color: #394535 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
input.cyc-error, textarea.cyc-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.cyc-error, textarea.cyc-error {
   color: #394535 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.cyc-search input[type="text"]
{
   background: #F9FAFB;
   border-radius: 0;
   margin:0 auto;
   width: 100%;
   padding: 0 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #394535 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.cyc-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.cyc-search input
{
   top:0;
   right:0;
}

form.cyc-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.cyc-search input[type="submit"]
{
   background: #C4EE7C;
   margin:0 auto;
   color: #5C8712 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:absolute;
   display:block;
   left: auto;
   border: 0;
   top: 0;
   bottom: 0;
   right: 	0;
}

label.cyc-checkbox:before
{
   background: #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.cyc-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
}

.cyc-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.cyc-checkbox.active:before
{
   background: #83E1EC;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.cyc-checkbox.hovered:before
{
   background: #BDEFF5;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.cyc-radiobutton:before
{
   background: #F9FAFB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.cyc-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
}

.cyc-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.cyc-radiobutton.active:before
{
   background: #83E1EC;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.cyc-radiobutton.hovered:before
{
   background: #BDEFF5;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

a img
{
   border: 0;
}

.cyc-article img, img.cyc-article, .cyc-block img, .cyc-footer img
{
   margin: 7px 7px 7px 7px;
}

.cyc-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.cyc-article table, table.cyc-article
{
   border-collapse: collapse;
   margin: 1px;
}

.cyc-post .cyc-content-layout-br
{
   height: 0;
}

.cyc-article th, .cyc-article td
{
   padding: 2px;
   border: solid 1px #607359;
   vertical-align: top;
   text-align: left;
}

.cyc-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.cyc-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.cyc-postheader
{
   color: #47680D;
   margin: 5px 0 5px 10px;
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-postheader a, 
.cyc-postheader a:link, 
.cyc-postheader a:visited,
.cyc-postheader a.visited,
.cyc-postheader a:hover,
.cyc-postheader a.hovered
{
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-postheader a, .cyc-postheader a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #84C219;
}

.cyc-postheader a:visited, .cyc-postheader a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #8DA286;
}

.cyc-postheader a:hover,  .cyc-postheader a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #2BCCDE;
}

.cyc-postheadericons,
.cyc-postheadericons a,
.cyc-postheadericons a:link,
.cyc-postheadericons a:visited,
.cyc-postheadericons a:hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #4A5945;
}

.cyc-postheadericons
{
   display:inline-block;
   padding: 1px;
}

.cyc-postheadericons a, .cyc-postheadericons a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #13717C;
}

.cyc-postheadericons a:visited, .cyc-postheadericons a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   color: #13717C;
}

.cyc-postheadericons a:hover, .cyc-postheadericons a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: underline;
   color: #1995A3;
}

.cyc-postpdficon:before
{
   content:url('images/postpdficon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .cyc-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.cyc-postprinticon:before
{
   content:url('images/postprinticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .cyc-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.cyc-postemailicon:before
{
   content:url('images/postemailicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .cyc-postemailicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.cyc-postcontent ul>li:before,  .cyc-post ul>li:before,  .cyc-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .cyc-postcontent ul>li:before, .opera   .cyc-post ul>li:before, .opera   .cyc-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.cyc-postcontent li, .cyc-post li, .cyc-textblock li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #374233;
   margin: 0 0 0 26px;
}

.cyc-postcontent ul>li, .cyc-post ul>li, .cyc-textblock ul>li, .cyc-postcontent ol, .cyc-post ol, .cyc-textblock ol
{
   padding: 0;
}

.cyc-postcontent ul>li, .cyc-post ul>li, .cyc-textblock ul>li
{
   padding-left: 13px;
}

.cyc-postcontent ul>li:before,  .cyc-post ul>li:before,  .cyc-textblock ul>li:before
{
   margin-left: -13px;
}

.cyc-postcontent ol, .cyc-post ol, .cyc-textblock ol, .cyc-postcontent ul, .cyc-post ul, .cyc-textblock ul
{
   margin: 1em 0 1em 26px;
}

.cyc-postcontent li ol, .cyc-post li ol, .cyc-textblock li ol, .cyc-postcontent li ul, .cyc-post li ul, .cyc-textblock li ul
{
   margin: 0.5em 0 0.5em 26px;
}

.cyc-postcontent li, .cyc-post li, .cyc-textblock li
{
   margin: 0 0 0 0;
}

.cyc-postcontent ol>li, .cyc-post ol>li, .cyc-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.cyc-postcontent ul>li, .cyc-post ul>li, .cyc-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #E1F6BB url('images/postquote.png') no-repeat scroll;
   padding:0 0 0 28px;
   margin:10px 10px 10px 50px;
   color: #121B04;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .cyc-postcontent blockquote a, .cyc-blockcontent blockquote a, .cyc-footer blockquote a,
blockquote a:link, .cyc-postcontent blockquote a:link, .cyc-blockcontent blockquote a:link, .cyc-footer blockquote a:link,
blockquote a:visited, .cyc-postcontent blockquote a:visited, .cyc-blockcontent blockquote a:visited, .cyc-footer blockquote a:visited,
blockquote a:hover, .cyc-postcontent blockquote a:hover, .cyc-blockcontent blockquote a:hover, .cyc-footer blockquote a:hover
{
   color: #121B04;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.cyc-postcontent blockquote p,
.cyc-blockcontent blockquote p,
.cyc-footer blockquote p
{
   margin: 0;
   margin: 2px 0 2px 15px;
}

.cyc-postfootericons,
.cyc-postfootericons a,
.cyc-postfootericons a:link,
.cyc-postfootericons a:visited,
.cyc-postfootericons a:hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #4A5945;
}

.cyc-postfootericons
{
   display:inline-block;
   padding: 1px;
}

.cyc-postfootericons a, .cyc-postfootericons a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #13717C;
}

.cyc-postfootericons a:visited, .cyc-postfootericons a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #13717C;
}

.cyc-postfootericons a:hover, .cyc-postfootericons a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #1995A3;
}

.cyc-footer
{
   background: #394535;
   margin:0 auto;
   position: relative;
   color: #C6D0C2;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: center;
   padding: 0;
}

.cyc-footer a,
.cyc-footer a:link,
.cyc-footer a:visited,
.cyc-footer a:hover,
.cyc-footer td, 
.cyc-footer th,
.cyc-footer caption
{
   color: #C6D0C2;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cyc-footer p 
{
   padding:0;
   text-align: center;
}

.cyc-footer a,
.cyc-footer a:link
{
   color: #4AD4E3;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.cyc-footer a:visited
{
   color: #90A489;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.cyc-footer a:hover
{
   color: #95E6EE;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.cyc-footer img
{
   border: none;
   margin: 0;
}

.cyc-footer-inner
{
   margin: 0 auto;
   width:900px;
   padding:5px;
   padding-right: 5px;
   padding-left: 5px;
}

.cyc-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
}

.cyc-rss-tag-icon:empty
{
   vertical-align: middle;
}

.cyc-footer li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #E1E7DF;
}

.cyc-page-footer, 
.cyc-page-footer a,
.cyc-page-footer a:link,
.cyc-page-footer a:visited,
.cyc-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #B4EDF3;
}

.cyc-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #B9C5B4;
}

img.cyc-lightbox
{
   cursor: pointer;
}

#cyc-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#cyc-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 9999;
}

img.cyc-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter: alpha(opacity=0);
}

img.cyc-lightbox-image.active
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.close-alt, .arrow-right-alt, .arrow-left-alt 
{
   display: none;
   color: #fff;
   font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
   display: block;
}
.ie8 .cw, .ie8 .ccw {
   display: none;
}

.cyc-content-layout .cyc-sidebar1
{
   margin:0 auto;
   width: 200px;
}

.cyc-content-layout .cyc-content
{
   margin:0 auto;
}

.cyc-content-layout .cyc-sidebar2
{
   margin:0 auto;
   width: 200px;
}

/* Begin Additional CSS Styles */
.cyc-blockheader .t, .cyc-vmenublockheader .t {white-space: nowrap;}
/* End Additional CSS Styles */
